.second-header {
  width: 100%;
  min-width: 800px;
  height: 80px;
  background-color: rgb(213, 218, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 100px;
  height: 49px;
}