/* 全体 */
.top-main {
  width: 100%;
  height: 100%;
  font-weight: 800;
  /* background-color: gray; */
}


/* 商品一覧 */

/* 一覧全体 */
.line-up {
  margin-top: 500px;
  width: 100%;
  height: 100%;
  /* background-color: rgb(193, 236, 221); */
  z-index: 5;
}

/* LinUpタイトル */
.line-up-title {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin: 30px auto;
  border-bottom: 3px solid #d9d9d1;
  /* background-color: beige; */
  z-index: 6;
}

.line-up-title_text h1 {
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}


/* アイテム全体 */

.content-items {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  /* background-color: rgb(169, 169, 49); */
}


/* アイテムひとつの部分 */
.content-item{
  display: flex;
}

.posted-content {
  width: 500px;
  margin: 15px 5px;
  padding: 20px;
  border: 1px solid #636060;
  /* background-color: azure; */
}

/* メイン画像 */

.top-main-item_area{
}

.main-image {
  max-height: 700px;
  max-width: 500px;
  /* 縦横比を保ったまま、画像を収める */
  object-fit: contain;
  
  
}
/* サブ画像 */
.posted-content-others {
  width: 100%;
  height: 330px;
  padding-top: 10px;
  display: flex;
  flex-flow:wrap;
  justify-content:space-around;
  /* background-color: gray; */
}

.other-images {
  max-height: 150px;
  max-width: 240px;
  margin: 5px;
  /* background-color: rgb(168, 203, 168); */
}

.other-image {
  width: 98%;
  height: 98%;
  /* margin: 10px; */
  /* 縦横比を保ったまま、画像を収める */
  object-fit: contain;
}


/* 商品情報部分 */

/* テキスト全体 */
.top-item-text {
  width: 100%;
  height: 50px;
  padding: 20px;
  /* background-color: antiquewhite; */
}

/* 商品名・金額 */
.top-item-name {
  display: flex;
  font-size: 20px;
}

.top-item-name h3 {
  font-weight: 500;
}

.top-item-price {
  display: flex;
  font-size: 15px;
}

.top-item-price span {
  font-size: 13px;
  padding-left: 5px;
}



/* .swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide img {
  height: auto;
  width: 30%;
  object-fit: contain;
  
} */