/* メイン全体 */
.items-sell-contents {
  width: 100%;
  height: 100%;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* min-width: 500px; */
  background-color: rgb(152, 205, 152);
}

/* 共通 */

/* ラベル */
.weight-bold-text {
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: medium;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 500;
}


/* 商品情報入力エリア */

.items-sell-main {
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
  background-color: rgb(219, 213, 213);
}


/* タイトル */
.items-sell-title {
  height: 50px;
  text-align: 50px;
  font-family: 'Noto Serif JP', sans-serif;
  background-color: beige;
}

/* 商品画像 */

/* 全体 */
.img-upload {
background-color: olive;
}