/* 全体 */
.img-upload {
  width: 100%;
  height: 300px;
  background-color: rgb(213, 218, 219);
}

.image-field {
  width: 100%;
  height: 100%;
  margin: auto;
  /* background-color: aliceblue; */
}


#previews {
  display: flex;
  justify-content: center;
}

.preview{
  margin-right: 10px;
}

img.preview-image {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
}

/* 削除ボタン */
.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}


/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}