/* 全体 */
.img-upload {
  
  background-color: olive;
}

.image-field {
  
}


#previews {
  display: flex;
}

.preview{
  margin-right: 30px;
}

img.preview-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

/* 削除ボタン */
.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}


/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}