<%# 全体 %>
<div class="concept-wrap">

  <%# 丸三つ部分 %>
  <div class="concept-circles">

    <%# 丸各エリア %>
      <div class="circle">
        <div class="circle_text"><h1>知る</h1></div>
      </div>
      <div class="circle">
        <div class="circle_text"><h1>使う</h1></div>
      </div>
      <div class="circle">
        <div class="circle_text"><h1>伝える</h1></div>
      </div>
    </div>

  </div>


  <%# コンセプト詳細部分 %>
  <div class="concept-inner_contents">

  <%# コンセプト各エリア %>
  <div class="contents_area">

    <%# 知る %>
    <div class="content">
    </div>
    <%# 使う %>
    <div class="content">
    </div>
    <%# 伝える %>
    <div class="content">
    </div>
    
  </div>
  </div>



</div>