<div class="top-concept">

<%# 全体 %>
<div class="concept-wrap">
  
  <%# 背景動画 %>
  <div class="layer">
    <video id="bg-video" autoplay loop muted>
      <source src="/videos/sunset.mp4" type="video/mp4">
    </video>
  </div>


  <%# 丸三つ部分 %>
  <div class="concept-circles">

    <%# 丸各エリア %>
      <div class="circle", id="circles">
        <div class="circle_text"><h1>知る</h1></div>
      </div>
      <div class="circle">
        <div class="circle_text"><h1>使う</h1></div>
      </div>
      <div class="circle">
        <div class="circle_text"><h1>伝える</h1></div>
      </div>
    </div>

  </div>

</div>

<%# コンセプト詳細部分 %>
<div class="concept-inner_contents">

  <%# コンセプト各エリア %>
  <div class="contents_area">

    <div class="contetns_area__title">
      <h1>「美は生活の中にある」</h1>
    </div>

    <span>
    <p>民藝品とは「一般の民衆が日々の生活に必要とする品」という意味で</p>
    <p>私たちの身近にあったものでした</p><br>
    <p>たくさんのものに囲まれて　私たちが忘れてしまった</p>
    <p>本当の豊かさ 伝統の美しさを</p>
    <br><p>あなたの生活の中で、見つけてみませんか？</p>
    </span>
    
  </div>
  </div>

</div>
